# Environment
ENVIRONMENT=development
DEBUG=true
LOG_LEVEL=INFO

# DeepL API
DEEPL_API_KEY=your-key-here

# Exchange Rate API
EXCHANGE_RATE_API_KEY=your-key-here

# Google
GOOGLE_CLOUD_PROJECT=your-gcp-project-name-here
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
GOOGLE_CUSTOM_SEARCH_API_KEY=your-key-here
GOOGLE_CUSTOM_SEARCH_ENGINE_ID=your-engine-id-here

# OpenAI
OPENAI_API_KEY=your-key-here

# Database
DATABASE_URL=sqlite:///./menu_passport.db

# CORS
CORS_ORIGINS=origin-1,origin-2,...

# Utils
MAX_IMAGE_SIZE_MB=your-max-upload-image-size-in-mb-here